[user]
	name = Samuel Scott
	email = samuel.scott@posteo.net
	signingKey = ~/.ssh/id_ed25519.pub
[gpg]
	program = gpg
	format = ssh
[credential]
	credentialStore = gpg
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[pull]
	rebase = true
[alias]
    a = add
    c = commit
    co = checkout
    d = diff
    f = fetch
    head = "describe --tags --always"
    headd = "describe --tags --always --dirty"
    l = log --shortstat
    list-tags = "!sh -c 'git for-each-ref --sort=creatordate --format \"%(creatordate:short) %(refname:short)\" refs/tags' -"
    ln = log --name-only
    lol = log --oneline
    lp = log -p --shortstat
    lsig = log --show-signature --shortstat
    pl = pull
    ps = push
    root = rev-parse --show-toplevel
    s = stash
    sm = submodule
    sp = stash pop
    st = status
[checkout]
	defaultRemote = origin
[log]
	date = local
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
[include]
    path = ~/.gitconfig.local
